.main {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(-45deg, rgba(0, 77, 110, 0.75) 0%, rgba(76, 0, 53, 0.75) 100%);
  background-size: 100%;

  border-radius: 2vw;
}

.types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  background-image: url(/background-arbres.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 275%;

  border: 0.5em solid #0000007d;
  box-shadow: 0px 0px 16x 1px #ffffff7d;
  border-radius: 2vw;
  margin: 1em;
  width: 80%;
}

.type {
  padding: 1em;
  margin: 1em;

  flex: 1;
  min-width: 20em;
  max-width: 20em;

  border-radius: 2vw;
  color: white;
  font-size: 1em;

  text-align: center;

  background-color: rgb(0, 0, 0);
  transition: transform 0.5s ease;
}
.type:hover {
  transform: scale(1.1);
  transition: transform 0.25s ;
}

/* .main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
} */

/* .intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
} */