.main {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, var(--default-primairy) 100%);
  background-size: 100%;

  border-radius: 2vw;
  margin: 1em;
}

.types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  border-radius: 2vw;
  margin: 1em;
  width: 100%;
}

.type {
  padding: 4em;
  margin: 1em;

  border-radius: 2vw;
  background-color: rgba(0, 0, 0, 0.27);
  color: white;
  font-size: 2em;

  transition: background-color 3s ease;
}
.type:hover {
  background-color: var(--default-primairy);
  
  transition: background-color 0.25s ease-out;
}

/* .main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
} */

/* .intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
} */