@font-face {
  font-family: "Segoe UI Variable";
  src: url("https://db.onlinewebfonts.com/t/d33f4ed55868f7d505a1390fbb283be6.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/d33f4ed55868f7d505a1390fbb283be6.woff") format("woff");
  font-display: swap;
}

:root {
  --background: rgb(0, 0, 0);
  --foreground: #170d43;
  /* --foreground: rgb(54, 255, 88); */
  --default-primairy: #ff769a;
  --default-secondairy: black;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  
  font-family: "Segoe UI Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* - - - Navigation - - - */

#navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-attachment: fixed;
  background-position: center;
  background-image: url(/background-arbres.png);
}

#navigation ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 5em;
  width: 60%;

  background-position: bottom;
  background-image: url(/background-arbres.png);

  border: 0.3em solid #ff769b7d;
  margin-top: 10em;
  border-radius: 2vh;

  transition: border 3s ease;
}
#navigation ul:hover {
  border: 0.3em solid rgba(105, 27, 172, 0.541);
  transition: border 0.25s;
}
#navigation ul li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navigation ul a {
  background-color: var(--default-secondairy);
  color: var(--default-primairy);
  border-radius: 5vh;
  font-weight: bold;
  border: 1px solid;

  height: max-content;
  align-content: center;
  text-align: center;

  font-size: 0.8em;
  box-shadow: 0px 0px 0px 0px;
  padding: 0.8em 4em;
  transition: box-shadow 4s ease, font-size 1s ease, padding 3s ease;
}
#navigation ul a:hover {
  position: absolute;
  font-size: 0.9em;
  box-shadow: 0px 0px 5px 2px;
  padding: 0.9em 6em;
  transition: box-shadow 0.25s, font-size 0.25s, padding 0.25s;
}