@font-face {
  font-family: "Segoe UI Variable";
  src: url("https://db.onlinewebfonts.com/t/d33f4ed55868f7d505a1390fbb283be6.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/d33f4ed55868f7d505a1390fbb283be6.woff") format("woff");
  font-display: swap;
}

:root {
  --default-primairy: #ff769a;
  --default-secondairy: #76d8ff;
  --primairy-transparent: rgba(255, 118, 155, 0.5);
  --secondairy-transparent: rgba(81, 0, 255, 0.5);

  --background-light: white;
  --background-dark: black;
}

html, body {
  /* = POSITIONING = */
  max-width: 100vw;
  /* = STYLING = */
  scroll-behavior: smooth;
}

body {
  /* = POSITIONING = */
  /* = STYLING = */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/background-arbres.png);

  font-family: "Segoe UI Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* - - - Navigation - - - */

#navigation {
  /* = POSITIONING = */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2em;
  margin-bottom: 8em;
  /* = STYLING = */
}

#navigation ul {
  /* = POSITIONING = */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  height: 4em;
  width: 50%;
  /* = STYLING = */
  list-style: none;
  user-select: none;

  background: linear-gradient(-45deg, var(--primairy-transparent) 0%, var(--secondairy-transparent) 100%);

  border: 0.3em solid var(--primairy-transparent);
  border-radius: 5vh;

  transition: border 3s ease;
}
#navigation ul:hover {
  /* = POSITIONING = */
  /* = STYLING = */
  border: 0.3em solid var(--secondairy-transparent);
  transition: border 0.25s;
}
#navigation ul li {
  /* = POSITIONING = */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0.5em;
  /* = STYLING = */
}
#navigation ul a {
  /* = POSITIONING = */
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;

  /* = STYLING = */
  background-color: var(--background-dark);
  font-weight: bold;
  font-size: 0.8em;
  color: var(--default-primairy);
  box-shadow: 0px 0px 0px 0px var(--default-primairy);
  border: 1px solid var(--default-primairy);
  border-radius: 4vh;
  transition: all 2s ease;
}
#navigation ul a:hover {
  /* = POSITIONING = */
  /* = STYLING = */
  font-size: 0.9em;
  color: var(--default-secondairy);
  box-shadow: 0px 0px 5px 2px var(--default-secondairy);
  border: 1px solid var(--default-secondairy);
  transition: all 0.25s;
}